.header__title {
  background-color: gainsboro;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.todo__input {
  width: 85%;
  padding: 8px 10px;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 10px;
}

.todo__ol {
  counter-reset: li;
  list-style: none;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.todo__item__del {
  text-decoration: line-through;
  text-decoration-color: red;
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;
  background: white;
  color: #444;
  border-radius: 0.3em;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.todo__item {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 1em 0;
  background: white;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.todo__item:hover {
  background: #e9e4e0;
  cursor: pointer;
}

.number__li {
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #8fd4c1;
  width: 3em;
  line-height: 2em;
  border: 0.3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 3em;
  transition: all 0.3s ease-out;
}

.todo__button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 7px 20px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #8fd4c1;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #43524e;
  transition: 0.2s ease-in-out;
  font-weight: bold;
}
.todo__button:before {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.todo__button:hover {
  background: #8fd4c1;
  color: #fff;
}
.todo__button:hover:before {
  left: 150px;
  transition: 0.5s ease-in-out;
}

.todo__all {
  display: flex;
}

.todo__all__button {
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.todo__none {
  display: none;
}

.pages {
  list-style: none;
}
.page__noActive {
  margin: 5px;
  background-color: #fff;
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 7px 20px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #8fd4c1;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #43524e;
  transition: 0.2s ease-in-out;
  font-weight: bold;
  cursor: pointer;
}
.page__active {
  cursor: pointer;
  background-color: #fff;
  color: red;
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 7px 20px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #8fd4c1;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s ease-in-out;
  font-weight: bold;
}

.delite__button {
  position: absolute;
  right: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #8fd4c1;
  width: 3em;
  line-height: 2em;
  border: 0.3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 3em;
  transition: all 0.3s ease-out;
}
.delite__button:hover {
  transform: rotate(360deg);
}
